body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.initial-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial-page input, .initial-page button {
  margin: 10px;
  padding: 8px 12px;
  font-size: 16px;
}

#platforms {
  border-collapse: collapse;
  margin-top: 20px;
}

#platforms th, #platforms td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.choice-wrapper-container {
  display: flex;
}

.choice-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.choice-label {
  font-size: 12px;
}

#clearRoomButton {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

#clearRoomButton:hover {
  background-color: #d32f2f;
}

.room-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
